body{
    background-color: silver;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
#parent{
    width: 60%;
    max-width: 800px;
    height: auto;
    border: 5px solid aqua;
    background-color: black ;
    border-radius: 2%;
    padding: 20px;
    margin: 20px auto;
}
#SR{
    font-size: 2.5rem;
    text-decoration:underline; text-decoration-color: aqua;
    font-style: italic;
}
.photo{
    width: 200px;
    height: 200px;
    border: 5px solid aqua;
    border-radius: 50%;
    background-image: url("F.A.jpg");
    background-size:cover;
    background-position: center;
    margin: 20px auto;
}

#PI{
    width: 32%;
    max-width: 300px;
    height: 110px;
    border: 3px solid black;
    color: white;
    margin: 0 auto;
    padding: 10px;
}
#name{
    font-size: 2.375rem;
    position: relative;
    bottom: 37%;
    font-style: italic;
}
#line{
    height: 1px;
    width: 95%;
    border: 1px solid aqua;
    background-color: aqua;
    position: relative;
    bottom: 70%;
    left: 2%;
}
#contact{
    position: relative;
    right: 11.5%;
    top: 3%;
}
#EC{
    position: relative;
    bottom: 65%;
}
#line1{
    height: 1px;
    width: 95%;
    border: 1px solid aqua;
    background-color: aqua;
    position: relative;
    bottom: 63%;
    left: 2%;
}

#newupdates{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
#education{
    height: 235px;
    width: 240px;
    border: 5px solid aqua;
    position: relative;
    border-radius: 2%;
}
#skills{
    height: 235px;
    width: 240px;
    border: 5px solid aqua;
    position: relative;
    border-radius: 2%;
}
#workexperience{
    height: 235px;
    width: 240px;
    border: 5px solid aqua;
    position: relative;
    border-radius: 2%;
}
h3{
    position: relative;
    right: 28%;
    bottom: 4%;
    text-decoration:underline; text-decoration-color: aqua;
}
#s{
    position: relative;
    right: 36%;
}
#wo{
    position: relative;
    right:3.5%;
}

button{
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    margin: 10px;
}   

button:hover {
    background-color: #00ced1;
}

span{
    display: flex;
    justify-content: center;
}

#education ul, #skills ul, #workexperience ul {
    list-style-type: disc; 
    padding-left: 25px; 
    text-align: left; 
    margin-left: 0; 
}
#education ul li, #skills ul li, #workexperience ul li {
    margin-left: 0; 
    text-align: left; 
}

